// COLORS - CORE
// NEUTRAL

:root {
  $core-neutral-100: hsl(0, 0%, 0%);
  $core-neutral-90: hsl(180, 3.45%, 5.69%);
  $core-neutral-80: hsl(0, 0%, 16.47%);
  $core-neutral-20: hsl(0, 0%, 80%);
  $core-neutral-00: hsl(0, 0%, 100%);

  // GREEN LIGHTING
  $core-greenLightning-50: hsl(159.16, 67.07%, 51.18%);
  $core-greenLightning-40: hsl(159.13, 100%, 63.92%);

  // COLORS - BRAND
  // PRIMARY
  $lk-core-color-stroke-primary: $core-greenLightning-50;
  $lk-core-color-fill-primary: $core-greenLightning-40;

  // COLORS - COMPONENTS
  // CONTAINER GHOST
  $lk-container-stroke-ghost: $core-neutral-80;
  $lk-container-fill-ghost: $core-neutral-90;
  $lk-container-icon-ghost: $core-neutral-00;
  $lk-container-text-ghost: $core-neutral-00;

  // PRIMARY SURFACE
  $lk-surface-icon-ghost: $core-neutral-00;
  $lk-surface-text-ghost: $core-neutral-00;
  $lk-surface-fill-ghost: $core-neutral-90;

  // PRIMARY SURFACE ALT
  $lk-surfaceAlt-icon-ghost: $core-neutral-20;
  $lk-surfaceAlt-text-ghost: $core-neutral-20;
  $lk-surfaceAlt-fill-ghost: $core-neutral-90;
}
